@{
    ViewBag.Title = "Используемые технологии";
}
<h2>@ViewBag.Title.</h2>

<p>ASP.NET SignalR JavaScript Library v2.2.2</p>
<p>AngularJS v1.6.6</p>
<p>Angular SignalR Hub 1.6.3</p>
<p>jQuery JavaScript Library v1.10.2</p>
