@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Коломицын Дмитрий Сергеевич<br />
    Skype: sinfulparson<br />
    Email: sinfulparson@gmail.com<br />
    +7 952 054 00 19
</address>
